body, header, nav, footer, main, h1, h2, h3, h4, div, img, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	background-color: #000;
	color: #FFF;
	font-family: "Pixelify Sans", Tiny5, Arial;
	text-align: center;
	font-size: 23px;
	margin-bottom: 5px;
	height: 100px;
	padding: 10% 0% 3% 0%;
}

h4{
	font-family: Tiny5, "Pixelify Sans", Arial;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0% 1%;
}

ol li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	font-size: 1.2em;
	list-style-type: circle;
	list-style-position: inside;	
	text-shadow: 3px 3px #fff;
}

.Rskew{
	background-color:#071659;
	padding: 4%;
	width: 100%;
	border-radius: 100px;
	text-align: center;
	color: #49abd1;
	font-size: 1.3em;
}

.yip{
	margin-right: 1em;
	float:right;
}

/*NAVS*/

nav{
	text-align: center;
	background-color:#5c5e66;
	padding: 1%;
	margin-bottom: 1%;
}
nav ul{
	list-style-type: none;
	text-align: center;
	padding: 0%;
}
nav li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	font-size: 1.3em;
}
nav li a{
	display: block;
	color: #fff;
	padding: .5em;
	text-decoration: none;
	text-align: center;
}

nav li a:hover{
	color: #b0c2ff;
	background-image: linear-gradient(to right, #5c5e66,#122968d2,#5c5e66);
}
/*END OF NAVS*/

body{
	background-color: #a2badb;
}

.column{
	padding: 0% 5.91%;
	text-align: center;
	display: block;
	align-content: center;
}

.map{
	border: 8px solid #000;
	border-width: 3px;
	border-radius: 10px;
	width: 85%;
	height: 50%;
}

.mapN{
	font-family: Tiny5, "Pixelify Sans", Arial;
}

p{
	font-family: Tiny5, "Pixelify Sans", Arial;
	padding: 0% 2%;
}

.design{
	font-size: 20px;
}

.firstP{
	padding-left: 10%;
	grid-area: firstP;
}
.secondP{
	grid-area: secondP;
}

/*.grid{
	border: solid 2px #191919;
}*/

.grid-container{
	display: grid;
	grid-template-areas: 
		'firstP secondP';
	grid-template-columns: 1fr 3fr;
	grid-gap: 45px;
}


.me{/*width="200" height="234"*/
	margin: 0 2%;
	border: 2px solid #071659;
	border-radius: 50px;
}

.responsive{
	width: 100%;
	height: auto;
}

.sprite{
	width: 100%;
	height: auto;
}

figure{
	position: sticky;
	left: 20px;
	background: #3a3a3b70;
	padding: 2%;
}

figcaption{
	text-align: center;
	font-family: Tiny5, "Pixelify Sans", Arial;
	font-size: 150%;
	color: #282280;
}

footer{
	clear: both;
	color: #FFF;
	background-color: #000;
	text-align: center;
}

.project a{
	text-decoration: none;
	color: #000a8f;
}

.project a:hover{
	color: #24a3f8;
}

.mobile{/*hide mobile class*/
	display: block;
}

.tablet-desktop{/*show desktop class*/
	display: none;
}



											/*MEDIA TABLET BELOW*/
@media screen and (min-width: 632px){
	.mobile{
		display: none;
	}
	
	.tablet-desktop{
		display: block;
	}
	
	header{
		font-size: 210%;
		margin-bottom: 5px;
		height: 130px;
		padding: 7% 1% 0% 0%;
	}

	.map{
		border: 8px solid #000;
		border-width: 3px;
		border-radius: 10px;
	}

	nav li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	display: inline-block;
	font-size: 2.1em;
	}

}
											/*MEDIA DESKTOP BELOW*/
@media screen and (min-width: 1015px){
	header{
		font-size: 50px;
		margin-bottom: 5px;
		height: 160px;
		padding: 3% 1% 0% 0%;
	}

	/*NAVS*/
	
	nav li{
		font-size: 1.5em;
		font-family: "Pixelify Sans", Tiny5, Arial;
		font-weight: bold;
		display: inline-block;
		font-size: 2.1em;
	}
	nav li a{
		display: block;
		color: #fff;
		padding: .2em 3em;
		text-decoration: none;
		text-align: center;
	}

	/*END OF NAVS*/

	.column{
		padding: 0% 5.91%;
		text-align: center;
		display: inline-block;
		align-content: center;
	}

	.map{
		border: 8px solid #000;
		border-width: 3px;
		border-radius: 10px;
		width: 400px; 
		height: 350px;
	}

	.mapN{
		font-family: Tiny5, "Pixelify Sans", Arial;
	}
	

}
