body, header, nav, footer, main, h1, h2, h3, h4, div, img, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	background-color: #000;
	color: #FFF;
	font-family: "Pixelify Sans", Tiny5, Arial;
	text-align: center;
	font-size: 23px;
	margin-bottom: 5px;
	height: 100px;
	padding: 10% 0% 3% 0%;
}

h4{
	font-family: Tiny5, "Pixelify Sans", Arial;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0% 1%;
}

ol li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	font-size: 1.2em;
	list-style-type: circle;
	list-style-position: inside;	
	text-shadow: 3px 3px #fff;
}

.Rskew{
	background-color:#071659;
	padding: 4%;
	width: 100%;
	border-radius: 100px;
	text-align: center;
	color: #49abd1;
	font-size: 1.3em;
}

.yip{
	margin-right: 1em;
	float:right;
}

/*NAVS*/

nav{
	text-align: center;
	background-color:#5c5e66;
	padding: 1%;
	margin-bottom: 1%;
}
nav ul{
	list-style-type: none;
	text-align: center;
	padding: 0%;
}
nav li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	font-size: 1.3em;
}
nav li a{
	display: block;
	color: #fff;
	padding: .5em;
	text-decoration: none;
	text-align: center;
}

nav li a:hover{
	color: #b0c2ff;
	background-image: linear-gradient(to right, #5c5e66,#122968d2,#5c5e66);
}
/*END OF NAVS*/

body{
	background-color: #a2badb;
}

.column{
	padding: 0% 5.91%;
	text-align: center;
	display: block;
	align-content: center;
}

.map{
	border: 8px solid #000;
	border-width: 3px;
	border-radius: 10px;
	width: 85%;
	height: 50%;
}

.mapN{
	font-family: Tiny5, "Pixelify Sans", Arial;
}

p{
	font-family: Tiny5, "Pixelify Sans", Arial;
	padding: 0% 2%;
}

.design{
	font-size: 20px;
}

.firstP{
	grid-area: firstP;
}
.secondP{
	grid-area: secondP;
}

.thirdP{
	grid-area: thirdP;
}


/*.grid{
	border: solid 2px #191919;
}*/

.grid-container{
	display: grid;
	grid-template-areas: 
		'thirdP firstP secondP';
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 45px;
	background-color: #00000025;
}


.cat{/*width="200" height="234"*/
	margin: 0 2%;
	border: 2px solid #071659;
	border-radius: 50px;
}

.responsive{
	width: 100%;
	height: auto;
}

.sprite{
	width: 100%;
	height: auto;
}

.mobileSprite{
	padding: 2%;
	width: 30%;
	height: auto;
}

.eugh{
	font-size: 1.2em;
}

figure{
	left: 20px;
	background: #3a3a3b70;
	padding: 2%;
}

figcaption{
	text-align: center;
	font-family: Tiny5, "Pixelify Sans", Arial;
	font-size: 150%;
	color: #282280;
}

footer{
	clear: both;
	color: #FFF;
	background-color: #000;
	text-align: center;
}

.project a{
	text-decoration: none;
	color: #000a8f;
}

.project a:hover{
	color: #24a3f8;
}

/*table*/

table{
	font-family: Tiny5, "Pixelify Sans", Arial;
	background-color: #495072;
	padding: 1% 3%;
	border: 1px solid #01043144;
	border-collapse: collapse;
	font-size: large;
}

div table{
	margin: 0% auto;
}

caption{
	font-family: "Pixelify Sans", Tiny5, Arial;
	background-color: #040011;
	color:#5f91ee;
	font-size: 220%;
	font-weight: bold;
	padding: 1%;
	border: 1px solid #040011;
	border-bottom-color: #365faa56;
}

th, td{
	border: 1px solid #040011;
	padding: 1%;
	color:#000000;
}

th{
	background-color: #040011;
	color:#5f91ee;
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
}

tr:nth-child(odd){
	background-color: #5d668d;
}

td:first-child{
	font-family: "Pixelify Sans", Tiny5, Arial;
	color:#01052e;
	font-weight: bold;
}

.hob{
	background-color: #495072;
	color:#0c0725;
	font-size: 1.2em;
}
.hob h3{
	background-color: #000220;
	color:#9dc8e6;
	text-align: center;
	font-size: 2.2em;
	font-family: "Pizelify Sans", Tiny5, Arial;
}
.hob p:nth-child(odd){
	background-color: #5d668d;
}

.abt{
	font-size: 1.2em;
	text-align: center;
	padding: 2%;
	border: 2px solid #000000;
	border-radius: 40px;
	background-color: #00000065;
	color:#1d1d2e
}

.email{
	margin: 3%;
	text-align: center;
}
.email a{
	text-decoration: none;
	color: #003e8f;
}

.email a:hover{
	color: #24a3f8;
}

form{
	width: auto;
	font-family: "Pixelify Sans", Tiny5, Arial;
}

.form h2{
	background-color: #000;
	color: #c3e7ff;
	text-align: center;
}

.form-grid{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap:20px;
}

.btn{
	grid-column: 1/span 2;
}

form #submit{
	margin: 0 auto;
	display: block;
	border: none;
	padding: 2%;
	background-color: #d4f3fff1;
	font-size: 1em;
	border-radius: 10px;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
}

.form{
	margin-top: 1%;
	background-color: #4a75b6;
	color:#00035e
}

#form h2{
	text-align: center;
}

label{
	display: block;
	padding-top: 3%;
}

fieldset, input, select, textarea{
	margin-bottom: 2%;
}

fieldset legend{
	font-weight: bold;
	font-size: 1.25em;
	color:#0a0e4d
}

.art img{
	margin: 5% 10%;
	border: 5px solid #03012e;
}

.design{
	height: 320px;
	width: auto;
}
.design:nth-child(even){
	height: 320px;
	width: auto;
	margin: 0px 0 0 170px;
}
.art img:hover{
	border-color:#0a27c9;
}
.design:hover{
	height: 340px;
	width:auto;
}

.spotify{
	padding: 0% 2% 2% 2%;
}

.spotP{
	font-family: "Pixelify Sans", Tiny5, Arial;
	text-align:center;
	padding-top: 6% 0% 0% 0%;
	font-size: 160%;
	font-weight: bold;
	background-color: #02071f;
	color: #fff;
}

.videos{
	padding: 0% 0% 0% 10%;
	grid-column: auto auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10%;
	display: grid;
	/*grid-template-areas: 
		'thirdP firstP secondP';*/
}

.mobile{/*hide mobile class*/
	display: block;
}

.tablet-desktop{/*show desktop class*/
	display: none;
}



											/*MEDIA TABLET BELOW*/
@media screen and (min-width: 632px){
	.mobile{
		display: none;
	}
	
	.tablet-desktop{
		display: block;
	}
	
	header{
		font-size: 210%;
		margin-bottom: 5px;
		height: 130px;
		padding: 7% 1% 0% 0%;
	}

	.map{
		border: 8px solid #000;
		border-width: 3px;
		border-radius: 10px;
	}

	nav li{
	font-size: 1.5em;
	font-family: "Pixelify Sans", Tiny5, Arial;
	font-weight: bold;
	display: inline-block;
	font-size: 2.1em;
	}

	.abt{
		font-size: 1.3em;
		margin: 0% 3em;
		text-align: center;
	}

	form{
		width: 70%;
		margin: 0 auto;
	}
	

}
											/*MEDIA DESKTOP BELOW*/
@media screen and (min-width: 1015px){
	header{
		font-size: 50px;
		margin-bottom: 5px;
		height: 160px;
		padding: 3% 1% 0% 0%;
	}

	/*NAVS*/
	
	nav li{
		font-size: 1.5em;
		font-family: "Pixelify Sans", Tiny5, Arial;
		font-weight: bold;
		display: inline-block;
		font-size: 2.1em;
	}
	nav li a{
		display: block;
		color: #fff;
		padding: .2em 3em;
		text-decoration: none;
		text-align: center;
	}

	/*END OF NAVS*/

	.column{
		padding: 0% 5.91%;
		text-align: center;
		display: inline-block;
		align-content: center;
	}

	.map{
		border: 8px solid #000;
		border-width: 3px;
		border-radius: 10px;
		width: 400px; 
		height: 350px;
	}

	.mapN{
		font-family: Tiny5, "Pixelify Sans", Arial;
	}

	.abt{
		font-size: 1.5em;
		text-align: center;
		padding: 10px;
		margin: 0em 20em;
	}
	
	

}
